<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>KUNA bot</title>
    </head>
    <body>
        <h1>Kuna bot</h1>
        <h3>Last market data:</h3>
        {{{lastMarketDataHtml}}}
    </body>
</html>